* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$main-color-yellow:#f1c50e;
$main-color-red:#ee1b24;
$main-color-black-gray:#292d33;
$main-color-gray:#555c66;

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}